
.calender_border {
    border: 2px solid rgb(0, 114, 198) !important ;
}

body#page-blocks-training_calendar-view table thead {
    background-color: unset;
    background-image: none;
}
body#page-blocks-training_calendar-view table thead th{
    border-left: none;
    border-right: none;
    line-height: 40px;
}
body#page-blocks-training_calendar-view #calendar table thead.fc-head .fc-head-container {
    border: none;
}
body#page-blocks-training_calendar-view #calendar .session_title {
    color: #fff;
    padding: 0px 5px;
    border-bottom: 1px solid #fff;
}
body#page-blocks-training_calendar-view #calendar .fc-toolbar button{
    background-image: none;
}
body#page-blocks-training_calendar-view #calendar .fc button .fc-icon{
    top: 0px;
}
body#page-blocks-training_calendar-view #calendar table thead.fc-head{
    background: linear-gradient(to left,#0071bc,#00a99d);
    color: #fff;
    height: 40px;
    float: left;
}
body#page-blocks-training_calendar-view #calendar table thead.fc-head table:first-child thead {
    line-height: 28px;
}
body#page-blocks-training_calendar-view #calendar .fc-bg table tbody tr td:nth-child(odd){
    background-color: #f2f2f2;
}
body#page-blocks-training_calendar-view #calendar .fc-day-grid-event .fc-content{
    white-space: initial;
}
body#page-blocks-training_calendar-view #calendar .fc-head-container.fc-widget-header .fc-row.fc-widget-header {
    margin-right: 0px !important;
}
body#page-blocks-training_calendar-view #calendar .fc-scroller.fc-day-grid-container{
    overflow-y: hidden !important;
}
body#page-blocks-training_calendar-view #calendar .fc-row.fc-week.fc-widget-content:nth-last-child(2) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
body#page-blocks-training_calendar-view #calendar .fc-event{
    border: none !important;
    background: none !important;
}
body#page-blocks-training_calendar-view #calendar .fc-day-grid-event{
    margin: 0 !important;
    padding: 0 !important
}
body#page-blocks-training_calendar-view #calendar .local_classroom {
    background-color: #0071bc;
}
body#page-blocks-training_calendar-view #calendar .local_program{
    background-color: #3ab54a;   
}
body#page-blocks-training_calendar-view #calendar .local_certification{
    background-color: #28aae2;   
}
body#page-blocks-training_calendar-view #calendar .local_evaluation{
    background-color: #3f51b5;   
}
body#page-blocks-training_calendar-view #calendar .local_onlinetets{
    background-color: #f7941d;   
}
body#page-blocks-training_calendar-view #calendar .local_learningplan{
    background-color: #ec1b23;   
}
body#page-blocks-training_calendar-view #calendar .session_title span {
    font-size: 11px;
}
body#page-blocks-training_calendar-view #calendar span.fc-title a {
    text-decoration: none;
}
body#page-blocks-training_calendar-view .fc-toolbar.fc-header-toolbar .fc-center {
    color: #1177d1;
}
body#page-blocks-training_calendar-view .fc-toolbar button:hover {
    /*background-color: #0a4981 !important;*/
    box-shadow: none;
}
.eventpopup_footer{
    list-style-type: none;
    margin-bottom: 0px;
}
.calender_clr_list{
    list-style-type: none;
    margin: 0px;
}
.calender_clr_list .caleder_clr_list_item{
    float: left;
    padding: 5px;
    line-height: 9px;
}
/*.calender_clr_list .caleder_clr_list_item i.fa {
    float: left;
    font-size: 18px;
}*/
.calender_clr_list .caleder_clr_list_item .calendar_spot_clr{
    padding: 4px;
}
.calender_clr_list .caleder_clr_list_item.classroom .calendar_spot_clr{
    background-color: #0071bc;
}
.calender_clr_list .caleder_clr_list_item.evalaluation .calendar_spot_clr{
    background-color: #3f51b5;
}
.calender_clr_list .caleder_clr_list_item.learningplan .calendar_spot_clr{
    background-color: #ec1b23;
}
.calender_clr_list .caleder_clr_list_item.onlinetests .calendar_spot_clr{
    background-color: #f7941d;
}
.calender_clr_list .caleder_clr_list_item.program .calendar_spot_clr{
    background-color: #3ab54a;
}
.calender_clr_list .caleder_clr_list_item.certification .calendar_spot_clr {
    background-color: #28aae2;
}
.calender_clr_list .caleder_clr_list_item.mod .calendar_spot_clr {
    background-color: #f26723;
}
body#page-blocks-training_calendar-view .catalog_crimg {
    height: 22px;
    width: 25px;
}
.calender_clr_list .caleder_clr_list_item.classroom .calendar_clr {
    color: #0071bc;
}
.calender_clr_list .caleder_clr_list_item.evalaluation .calendar_clr {
    color: #3f51b5;
}
.calender_clr_list .caleder_clr_list_item.learningplan .calendar_clr {
    color: #ec1b23;
}
.calender_clr_list .caleder_clr_list_item.onlinetests .calendar_clr {
    color: #f7941d;
}
.calender_clr_list .caleder_clr_list_item.program .calendar_clr {
    color: #3ab54a;
}
.calender_clr_list .caleder_clr_list_item.certification .calendar_clr {
    color: #28aae2;
}
.calender_clr_list .caleder_clr_list_item.mod .calendar_clr {
    color: #f26723;
}

body#page-blocks-training_calendar-view .session_title.local_evaluation{
    background-color: #3f51b5;
}
body#page-blocks-training_calendar-view .session_title.local_certification{
    background-color: #28aae2;
}
body#page-blocks-training_calendar-view .session_title.local_program{
    background-color: #3ab54a;
}
body#page-blocks-training_calendar-view .session_title.local_onlinetests{
    background-color: #f7941d;
}
body#page-blocks-training_calendar-view .session_title.local_classroom{
    background-color: #0071bc;
}
body#page-blocks-training_calendar-view .session_title.local_learningplan{
    background-color: #ec1b23;
}
body#page-blocks-training_calendar-view .session_title.mod{
    background-color: #f26723;
}
body#page-blocks-training_calendar-view .eventpopup_footer li {
    display: inline;
}
#page-blocks-training_calendar-view .modal-body .row.mt-10.mb-10 {
    margin-left: auto;
    margin-right: auto;
}