{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#response}}
    {{! card view }}
    {{#viewtypeCard}}
        <div class="d-block clearfix" id="onlinetestlist" >
            {{#records}}
                <div class="{{cardClass}} pull-left my-3">
                    <div class="ont_container">
                        <div class="w-full pull-left px-3 py-2">
                            <span class="testsicon pull-left">
                             <i class="fa fa-desktop ot_icon"></i>
                             </span> 
                <a href="{{starttest_url}}" class="testname font-weight-bold" title="{{testfullname}}">{{ testname }}
                            </a>     
                <ul class="course_extended_menu_li " style = "float:right; list-style-type:none;">
            {{# certificate_exists }}
            {{# certificate_download }}
                <li>
                    <a class="course_extended_menu_itemlink" title="{{#str}} download_certificate, local_courses {{/ str}}" class="course_extended_menu_itemlink" href="{{configpath}}/admin/tool/certificate/view.php?code={{certificateid}}"><i class="icon fa fa-download" aria-hidden="true"></i>
                    </a>
                </li>
            {{/ certificate_download }}
            {{^ certificate_download }}
                    <li>
                        <a class="course_extended_menu_itemlink" title="{{# str}} unableto_download_msg, local_onlinetests, {{/str}}" class="course_extended_menu_itemlink" href="javascript: void(0)">
                        <i class="icon fa fa-download" aria-hidden="true"></i>
                        </a>
                    </li>
            {{/ certificate_download }}
            {{/ certificate_exists }}
             </ul>
                      
                           
                            <div class="mt-1 pull-right showoptions{{testid}} actionicons">
                                {{# is_admin}}
                                    <span  class="pull-right showoptions" data-action="showoptions{{testid}}" onmouseenter="(function(e){ require('theme_epsilon/quickactions').quickactionsCall({ selector:'showoptions{{testid}}' }) })(event)" onmouseleave="(function(e){require('theme_epsilon/quickactions').quickactionsCall({ selector:'showoptions{{testid}}' }) })(event)">
                                            <i class="fa fa-ellipsis-h options"></i>
                                    </span>

                                    <ul class="options_container" id = "showoptions{{testid}}">
                                        {{# delete}}
                                            <li class="quick_actions_list_item">
                                                <a href="javascript:void(0)" id="deleteconfirm{{testid}}" onclick="(function(e){ require('local_onlinetests/newonlinetests').deleteonlinetest('{{ quizid }}') })(event)")><i class="fa fa-trash fa-fw " aria-hidden="true" title="{{# str}} delete,local_onlinetests {{/ str}}" aria-label="Delete"></i></a>
                                            </li>
                                        {{/ delete}}

                                        {{# addusers}}
                                            <li class="quick_actions_list_item">
                                                <a href="{{ configpath }}/local/onlinetests/users_assign.php?id={{ testid }}&amp;sesskey={{ sesskey }}"><i class="fa fa-user-plus fa-fw " aria-hidden="true" title="{{# str}} enrolusers,local_onlinetests {{/ str}}" aria-label="Enroll users"></i></a>
                                            </li>
                                        {{/ addusers}}

                                        {{# bulkenrollusers}}
                                            <li class="quick_actions_list_item">
                                                <a href="{{ configpath }}/local/onlinetests/mass_enroll.php?id={{ testid }}&amp;sesskey={{ sesskey }}"><i class="fa fa-users fa-fw " aria-hidden="true" title="{{# str}} bulk_enrollments,local_onlinetests {{/ str}}" aria-label="Bulk Enrollments"></i></a>
                                            </li>
                                        {{/ bulkenrollusers}}

                                        {{# edit}}
                                            <li class="quick_actions_list_item">
                                                <a data-action="createonlinetestsmodal" data-value="{{ testid }}" href="javascript:void(0)"><i class="fa fa-pencil fa-fw " aria-hidden="true" title="{{# str}} edit,local_onlinetests {{/ str}}" aria-label="Edit"></i></a>
                                            </li>
                                        {{/ edit}}

                                        {{# questions}}
                                            <li class="quick_actions_list_item">
                                                <a target="_blank" href="{{ configpath }}/mod/quiz/edit.php?cmid={{ cmid }}&amp;sesskey={{sesskey}}"><i class="fa fa-question fa-fw " aria-hidden="true" title="{{# str}} add_questions,local_onlinetests {{/ str}}" aria-label="Add Questions"></i></a>
                                            </li>
                                        {{/ questions}}

                                <!--         {{# hide_show}}
                                           {{# hide}}
                                            <li>
                                            <a href="javascript:void(0)" title="{{# str}} makeinactive,local_onlinetests{{/ str}}" onclick="(function(e){ require('local_onlinetests/newonlinetests').suspendonlinetest({ id:{{testid}},hide:0,status:0}) })(event)">
                                                <i class="fa fa-eye"></i></a>
                                             </li>
                                            {{/ hide}}
                                            {{# show}}
                                             <li>
                                            <a href="javascript:void(0)" title="{{# str}} makeactive,local_onlinetests{{/ str}}" onclick="(function(e){ require('local_onlinetests/newonlinetests').suspendonlinetest({ id:{{testid}},show:1,status:1}) })(event)">
                                                <i class="fa fa-eye-slash"></i></a>
                                        </li>
                                        {{/ show}}
                                        {{/ hide_show}} -->
                                            {{# hide_show}}
                                        {{# hide}}
                                                <li class="quick_actions_list_item">
                                                   <a href="javascript:void(0)" title="{{# str}} makeinactive,local_onlinetests{{/ str}}" onclick="(function(e){require('local_onlinetests/newonlinetests').suspendonlinetest({ id:{{testid}},visible:0,status:'enable'}) })(event)">
                                                <i class="fa fa-eye"></i></a>
                                                </li>
                                            {{/ hide}} 

                                            {{# show}}
                                              <li class="quick_actions_list_item">
                                                <a href="javascript:void(0)" title="{{# str}} makeactive,local_onlinetests{{/ str}}" onclick="(function(e){ require('local_onlinetests/newonlinetests').suspendonlinetest({ id:{{testid}},visible:1,status:'disable'}) })(event)">
                                                <i class="fa fa-eye-slash"></i></a>
                                                </li>
                                            {{/ show}}
                                        <!-- {{/ hide_show}} -->
                                    </ul>
                                {{/ is_admin}}
                            </div>
                        </div>
                        <div class="w-100 pull-left ont_content">
                            <!--<div class="w-full pull-left text-right actions">{{{actions}}}</div>-->
                            <div class="w-full pull-left">
                                <div class="grades_container text-left">
                                    <div class="w-100 pull-left">
                                        <p class="w-half pull-left">
                                            <span class="pull-left">
                                                <span class="ot_label">
                                                {{# str }} maxgrade, local_onlinetests {{/ str }}
                                                </span>
                                                <span class="ot_colon">:</span>
                                            </span>
                                            <span class="">
                                                <span class="ot_value">{{ maxgrade }}</span>
                                            </span>
                                        </p>

                                        <p class="w-half pull-left">
                                            <span class="pull-left">
                                                <span class="ot_label">
                                                    {{# str }} gradepass, local_onlinetests {{/ str }}
                                                </span>
                                                <span class="ot_colon">:</span>
                                            </span>
                                            <span class="ot_value">
                                                <span class="">{{ passgrade }}</span>
                                            </span>
                                        </p>
                                    </div>
                                <div class="w-100 pull-left">
                                    {{# is_admin }}
                                        <p class="w-full pull-left">
                                            <span class="pull-left">
                                                <span class="ot_label">
                                                    {{#str}}department, local_onlinetests{{/str}}
                                                </span>
                                                <span class="ot_colon">:</span>
                                            </span>
                                            <span class="ot_value" title="{{deptname}}">
                                                <span class="">{{departmentsCut}}</span>
                                            </span>
                                        </p>
                                        <p class="w-full pull-left">
                                            <span class="ot_label">
                                                {{# str }} completed, local_onlinetests {{/ str }} / {{# str }} enrolled, local_onlinetests {{/ str }}
                                                <span class="ot_colon">:</span>
                                            </span>
                                            <span class="ot_value">
                                                <a href="javascript:void(0)" class="onlinetest_users_count" onclick="(function(e){ require('local_onlinetests/newonlinetests').enrolledusers({contextid: '{{contextid}}', type:2, testid: '{{testid}}', testname: '{{testname}}' }) })(event)")><span>{{ completed }}</span></a>
                                                <span class="">/</span>
                                                <a href="javascript:void(0)" class="onlinetest_users_count" onclick="(function(e){ require('local_onlinetests/newonlinetests').enrolledusers({contextid: '{{contextid}}', type:1, testid: '{{testid}}', testname: '{{testname}}' }) })(event)")><span>{{ enrolled }}</span></a>
                                            </span>
                                        </p>
                                    {{/ is_admin}}
                                    {{^ is_admin }}
                                        <div class="w-100 pull-left">
                                             <p class="w-half pull-left">
                                                <span class="pull-left" title="{{# str }} achievedgrade, local_onlinetests {{/ str }}">
                                                    <span class="ot_label">
                                                        Ach. Grade
                                                    </span>
                                                    <span class="ot_colon">:</span>
                                                </span>
                                                <span class="ot_value">{{ mygrade }}</span>
                                            </p>

                                            <p class="w-half pull-left">
                                                <span class="pull-left" title="">
                                                    <span class="ot_label">
                                                        {{# str }} attempts, local_onlinetests {{/ str }}
                                                    </span>
                                                    <span class="ot_colon">:</span>
                                                </span>
                                                <span class="">
                                                    {{# userattemptid}}
                                                    <a href="{{ configpath }}/mod/quiz/review.php?attempt={{userattemptid}}&amp;sesskey={{sesskey}}">{{ attempts }}</a>{{/ userattemptid}}{{^ userattemptid}}{{ attempts }}{{/ userattemptid}}</span></p>
                                            <!--<span class="">
                                                <span class="ot_label">{{# str }} achievedgrade, local_onlinetests {{/ str }}</span>
                                                <span class="ot_colon">:</span>
                                            </span>
                                            <span class="ml-15">
                                                <span class="">{{ mygrade }}</span>
                                            </span>-->
                                        </div>
                                    {{/ is_admin}}
                                </div>
                                {{^ is_admin }}
                                    <!--<p class="w-full pull-left"><span class="pull-left"><span class="ot_label">{{# str }} attempts, local_onlinetests {{/ str }}</span><span class="ot_colon">:</span></span><span class="ot_count ml-15"><span class="count_value">{{ attempts }}</span></span></p>-->

                                    <p class="w-full pull-left"><span class="pull-left"><span class="ot_label">{{# str }} enrolledon, local_onlinetests {{/ str }}</span><span class="ot_colon">:</span></span><span class="">{{ enrolledon }}</span></p>

                                    <p class="w-full pull-left"><span class="pull-left"><span class="ot_label">{{# str }} completedon, local_onlinetests {{/ str }}</span><span class="ot_colon">:</span></span><span class="">{{ completedon }}</span></p>

                                    <p class="w-full pull-left"><span class="pull-left"><span class="ot_label">{{# str }} status, local_onlinetests {{/ str }}</span><span class="ot_colon">:</span></span><span><span>{{ status }}</span></span></p>
                                {{/ is_admin}}
                                <div class="w-full pull-left">
                                    <span class="schedule">
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </span>
                                    <span class="ot_value">{{{ testdate }}}</span>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 pull-left ont_btm">
                            {{^ is_admin }}
                                {{# canreview}}
                                <div class="w-full pull-left test text-center startquiz_btn"><a href="{{ starttest_url }}">{{# str }} reviewtest, local_onlinetests {{/ str }}</a></div>
                                {{/ canreview}}
                                
                                {{^ canreview}}
                                <div class="w-full pull-left test text-center startquiz_btn"><a href="{{ starttest_url }}">{{# str }} starttest, local_onlinetests {{/ str }}</a></div>
                                {{/ canreview}}
                            {{/ is_admin }}
                            {{# is_admin }}
                                <div class="w-full pull-left test text-center startquiz_btn"><a href="{{ starttest_url }}">{{# str }} previewtest, local_onlinetests {{/ str }}</a></div>
                            {{/ is_admin }}
                        </div>
                    </div>
                </div>
            {{/records}}
        </div>
    {{/viewtypeCard}}
{{/response}}
