<div class="tagdetails">
    <div class="span12">
        <div class="span4">
            <span><b>{{#str}}postedby, local_forum{{/str}}</b>:</span> <span>{{postedby}}</span>
            <span><b>{{#str}}topics, local_forum{{/str}}</b>:</span> <span>{{topics}}</span>
            </p>            
        </div>
    </div>
</div>